header{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: 70px;
	background: cornflowerblue;
}
footer{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: 70px;
	background: darkgreen;
	color: #fff;
}